
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#A{
    background-color: rgb(60, 164, 255) ;
    font-family: 'Caveat', cursive;
    border: none;
    height: 100px;
    width: 100px;
    font-size: medium;
    border-radius: 94px;
    background: linear-gradient(145deg, #fd7373, #ff9696);
    box-shadow:  13px 13px 49px #fa7373,
             -13px -13px 49px #5fdaff;
    
    
    
}

#aaa{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.name{
    margin-top: 25px;
    margin-left: 10px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    outline: none;
    
    font-family: 'Noto Sans SC', sans-serif;
    font-size: medium;

    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 19px 19px 35px #cccccc,
            inset -19px -19px 35px #f4f4f4;
}


.go{
    border: none;
    background-color: rgb(250, 82, 82);
    margin-left: 10px;
    margin-top: 25px;
    padding: 10px;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.e{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p{
   display: flex;
   justify-content: center;
}

.wap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}


.wap h2{
    position:absolute;
    top:35%;
    left:20%;
    background:linear-gradient(90deg,#ff5353,#ffa43c,#a230ff,#2eacff,#084f91,#ff7676);
    background-size:400%;
    font-size:50px;
    letter-spacing:1px;
    font-weight:600;
    word-spacing:1px;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 10s linear infinite;
    font-family: 'MonteCarlo', cursive;
    font-family: 'Shadows Into Light', cursive;
    margin-left: 20px;
    margin-top: 20px;
}

.wapp{
    margin-left: 40px;
}
.wappp{
    margin-left: 200px;
}
@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}
/*.from{
    font-size: 40px;
    margin-left: 600px;
    margin-top: 500px;
    background:linear-gradient(90deg,#ff5353,#424242,#ffffff,#76e4ff);
    background-size:400%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 20s linear infinite;
    font-family: fantasy;
    display: flex;

}*/

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}


.footer{
    font-family: 'Minecraft', sans-serif;
    background:linear-gradient(90deg,#ffffff,#000000);
    background-size:400%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 5s linear infinite;
}
